*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}


#main{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

#cursor{
    height: 22px;
    width: 22px;
    background-color: white;
    border-radius: 50%;
    position:fixed;
    font-size: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    z-index: 10;
}

#image{
    height: 30vw;
    width:40vw;
    background-color: maroon;
    /* background-image: url("https://images.unsplash.com/photo-1737885763392-0141b416ec1d?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    border-radius: 20px;
    position: relative;
}

#image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;
   background-size: cover;
  
   border-radius: 20px;
   box-shadow: 5px 5px 10px gray;

}

/* to avoid the jitter we have created overlay div */

#overlay{
    background-color:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    /* background-color: #f3f6f689; */
}